<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SPService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SPUIView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>56F523DE1C4DCF7F00E6472B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B70FF3D21C6582AA002D571B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B70FF4381C662FBE002D571B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B70FF4411C662FBE002D571B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B70FF45B1C66301D002D571B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B70FF4641C66301D002D571B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
